body{
    background-image: url("http://www.allaboutdrawings.com/image-files/palm-tree-drawings.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {

    width: 100%;
    height:100%;
    margin: 0 auto;


}
.transparency {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 50;
    /*background-color: black;*/
    background-color: RGBA(0,0,0, .5);
    width: 100%;
    height:100%

}
.text h1 {
    text-align: center;
}

.text {
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 0 20px 0 20px;
}

