* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.small {
    width: 200px;
    height:200px;
    margin: 20px auto;
    background-color: darkgreen;

}

.large {
    width: 200px;
    height:200px;
    margin: 20px auto;
    padding: 50px;
    border: 50px solid;
    background-color: darkorange;
    border-color: darkslateblue;

}