.box1 {

    float: left;
    width: 200px;
    height: 100px;
    background-color: lightgreen;
    border-radius:  5px;

}
.box2 {

    float: left;
    width: 200px;
    height: 100px;
    background-color: coral;
    border-radius:  5px;

}

.after-box2 {
    clear: left;
}
.section {

    height: 150px;
    background-color: aqua;
    border-radius:  5px;
    max-width: 960px;
    margin-bottom: 10px;

}

