.three-column {
    padding: 1em;
    -moz-column-count: 3;
    -moz-column-gap: 1.5em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1.5em;
    column-count: 3;
    column-gap: 1.5em;
    text-align: justify;
    line-height: 1.1em;

}

.three-column p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding-bottom: 1.2em;
}
